name = "gnr-blog-ai"
main = "worker.js"
compatibility_date = "2026-02-05"


[[d1_databases]]
binding = "GNR_MEDIA_BUSINESS_DB"
database_name = "gnr_businesses"
database_id = "6524a841-c082-41b0-871d-c3136435ba9e"
